{% extends 'base.html' %}

{% block title %} List Data {% endblock %}

{% block header %} Tabel Data{% endblock %}

{% block body %}
    <a href="{{ url_for('input_data') }}" class="btn btn-primary" style="margin-bottom: 1.3rem;">Input Data</a>
    {% with messages = get_flashed_messages()%}
        {% if messages %}
            {% for message in messages %}
                <div class="alert alert-success alert-dismissible fade show" role="alert">
                    <strong>Berhasil!</strong>{{ message}}
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
            {% endfor %}
        {% endif %}
    {% endwith %}
    <table class="table">
        <thead class="table-primary">
            <tr>
                <th scope="col">No</th>
                <th scope="col">Nama</th>
                <th scope="col">Email</th>
                <th scope="col">Telp</th>
                <th scope="col">Address</th>
                <th scope="col">Action</th>
            </tr>
        </thead>
        <tbody>
            {% for data in data %}
                <tr>
                    <th scope="row">{{ loop.index }}</th>
                    <td>{{ data.name }}</td>
                    <td>{{ data.email }}</td>
                    <td>{{ data.telp }}</td>
                    <td>{{ data.address }}</td>
                    <td>
                        <a href="{{url_for('edit_data',id=data.id)}}" class="btn btn-warning">Edit</a>
                        <a href="{{url_for('delete',id=data.id)}}" class="btn btn-danger" onclick="return confirm('Apakah anda yakin hapus data ini?')">Delete</a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>        
    </table>
{% endblock %}